### Exercise 1: Import the required modules for working with SQLAlchemy.

In [7]:
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, ForeignKey, MetaData
from sqlalchemy.sql import text

### Exercise 2: Create a MySQL database connection using SQLAlchemy.
Connect to a MySQL database with the table users:


| **Field**    | **Data Type** | **Description**         | **Example**       |
|--------------|---------------|-------------------------|-------------------|
| Username     | String        | The username for login | `your_username`   |
| Password     | String        | The password for login | `your_password`   |
| Database     | String        | The name of the database | `your_database`  |

In [8]:
engine = create_engine('mysql+pymysql://root:root@127.0.0.1:3306/exercise_2_1', echo=True)

### Exercise 3: Define a table called `products` with the following columns:
 

| Column Name   | Data Type | Constraints        | Description                   |
|---------------|-----------|--------------------|-------------------------------|
| `product_id`  | Integer   | Primary Key        | Unique identifier for a product |
| `name`        | String(100) | Not Null         | Name of the product           |
| `price`       | Float     | Not Null          | Price of the product          |

In [9]:
metadata = MetaData()
products_table = Table(
    "products",
    metadata,
    Column("product_id", Integer, primary_key=True),
    Column("name", String(100), nullable=False),
    Column("price", Float, nullable=False)
) 

metadata.create_all(engine)

2024-12-26 13:12:11,323 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-12-26 13:12:11,323 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:12:11,326 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-12-26 13:12:11,327 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:12:11,329 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-12-26 13:12:11,330 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:12:11,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:12:11,334 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_1`.`products`
2024-12-26 13:12:11,335 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:12:11,342 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	product_id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	price FLOAT NOT NULL,
	PRIMARY KEY (product_id)
)


2024-12-26 13:12:11,343 INFO sqlalchemy.engine.Engine [no key 0.00073s] {}

2024-12-26 13:12:11,378 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 4: Define a table called `orders` with the following columns:

| Column Name   | Data Type | Constraints                      | Description                              |
|---------------|-----------|----------------------------------|------------------------------------------|
| `order_id`    | Integer   | Primary Key                      | Unique identifier for an order           |
| `product_id`  | Integer   | Foreign Key (`products.product_id`) | References the product being ordered     |
| `quantity`    | Integer   | Not Null                         | Quantity of the product ordered

In [10]:
orders_table = Table(
    "orders",
    metadata,
    Column("order_id", Integer, primary_key=True),
    Column("product_id", Integer, ForeignKey('products.product_id'), nullable=False),
    Column("quantity", Integer, nullable=False),
)

metadata.create_all(engine)

2024-12-26 13:12:20,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:12:20,762 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_1`.`products`
2024-12-26 13:12:20,763 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:12:20,770 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_1`.`orders`
2024-12-26 13:12:20,770 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:12:20,773 INFO sqlalchemy.engine.Engine
CREATE TABLE orders (
	order_id INTEGER NOT NULL AUTO_INCREMENT,
	product_id INTEGER NOT NULL,
	quantity INTEGER NOT NULL,
	PRIMARY KEY (order_id),
	FOREIGN KEY(product_id) REFERENCES products (product_id)
)


2024-12-26 13:12:20,774 INFO sqlalchemy.engine.Engine [no key 0.00139s] {}
2024-12-26 13:12:20,823 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 5: Insert the following rows into the `products` table: 
 

| `product_id` | `name`       | `price`  |
|--------------|--------------|----------|
| 1            | Laptop       | 1000.00  |
| 2            | Smartphone   | 500.00   |
| 3            | Tablet       | 300.00   |

In [11]:
# alternative 1
with engine.connect() as connection:
   connection.execute(products_table.insert().values(product_id=1, name='Laptop', price=1000.00))      # 1s record       | 1  |  Laptop      | 1000.00  |
   connection.execute(products_table.insert().values(product_id=2, name='Smartphone', price=500.00))  # 2nd record      | 2  |  Smartphone  | 500.00   |
   connection.execute(products_table.insert().values(product_id=3, name='Tablet', price=300.00))       # 3d record       | 3  |  Tablet      | 300.00   |  
   connection.commit()
# # alternative 2 
#with engine.connect() as connection:
#    connection.execute(products_table.insert(), [
#        {'product_id': 1, 'name': 'Laptop', 'price': 1000.00}, # 1s record       | 1    | Laptop       | 1000.00  |
#        {'product_id': 2, 'name': 'SmartPhone', 'price': 500.00}, # 2nd record   | 2    | Smartphone   | 500.00   |
#        {'product_id': 3, 'name': 'Tablet', 'price': 300.00 } # 3d record        | 3    | Tablet       | 300.00   |  
#    ])
#connection.commit()

# # alternative 3    
# with engine.connect() as connection:
#     connection.execute(
#         products_table.insert().values([
#             {'product_id': 1, 'name': 'Laptop', 'price': 1000.00},      # 1s record       | 1     | Laptop       | 1000.00  |
#             {'product_id': 2, 'name': 'Smartphone', 'price': 500.00},   # 2nd record      | 2     | Smartphone   | 500.00   |
#             {'product_id': 3, 'name': 'Tablet', 'price': 300.00},       # 3d record       | 3     | Tablet       | 300.00   |  
#         ])
#     )

# # alternative 4
# with engine.connect() as connection:
#     connection.execute(
#         text("INSERT INTO products (product_id, name, price) VALUES (:product_id, :name, :price)"),[
#          {'product_id': 1, 'name': 'Laptop', 'price': 1000.00},       # 1s record       | 1     | Laptop       | 1000.00  |
#          {'product_id': 2, 'name': 'Smartphone', 'price': 500.00},    # 2nd record      | 2     | Smartphone   | 500.00   |
#          {'product_id': 3, 'name': 'Tablet', 'price': 300.00}        # 3d record        | 3     | Tablet       | 300.00   |  
#          ]     
#     )
# # alternative 5, could be deprecated
# with engine.connect() as connection:
#     connection.execute.many(
#         products_table.insert(),
#         [
#             {'product_id': 1, 'name': 'Laptop', 'price': 1000.00},       # 1s record       | 1     | Laptop       | 1000.00  |
#             {'product_id': 2, 'name': 'Smartphone', 'price': 500.00},    # 2nd record      | 2     | Smartphone   | 500.00   |
#             {'product_id': 3, 'name': 'Tablet', 'price': 300.00},        # 3d record       | 3     | Tablet       | 300.00   |  
#         ]
#     )

2024-12-26 13:12:27,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:12:27,150 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, name, price) VALUES (%(product_id)s, %(name)s, %(price)s)
2024-12-26 13:12:27,151 INFO sqlalchemy.engine.Engine [generated in 0.00303s] {'product_id': 1, 'name': 'Laptop', 'price': 1000.0}
2024-12-26 13:12:27,156 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, name, price) VALUES (%(product_id)s, %(name)s, %(price)s)
2024-12-26 13:12:27,157 INFO sqlalchemy.engine.Engine [cached since 0.00948s ago] {'product_id': 2, 'name': 'Smartphone', 'price': 500.0}
2024-12-26 13:12:27,160 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, name, price) VALUES (%(product_id)s, %(name)s, %(price)s)
2024-12-26 13:12:27,162 INFO sqlalchemy.engine.Engine [cached since 0.01416s ago] {'product_id': 3, 'name': 'Tablet', 'price': 300.0}
2024-12-26 13:12:27,164 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 6: Insert the following rows into the `orders` table: 
 

| `order_id` | `product_id` | `quantity` |
|------------|--------------|------------|
| 1          | 1            | 2          |
| 2          | 2            | 5          |
| 3          | 3            | 1          |

In [12]:
with engine.connect() as connection:
    connection.execute(orders_table.insert().values(order_id=1, product_id=1, quantity=2)) # 1st record | 1  | 1   | 2 |
    connection.execute(orders_table.insert().values(order_id=2, product_id=2, quantity=5)) # 2nd record | 2  | 2   | 5 |
    connection.execute(orders_table.insert().values(order_id=3, product_id=3, quantity=1)) # 3d record  | 3  | 3   | 1 |
    connection.commit()

2024-12-26 13:13:17,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:13:17,262 INFO sqlalchemy.engine.Engine INSERT INTO orders (order_id, product_id, quantity) VALUES (%(order_id)s, %(product_id)s, %(quantity)s)
2024-12-26 13:13:17,264 INFO sqlalchemy.engine.Engine [generated in 0.00253s] {'order_id': 1, 'product_id': 1, 'quantity': 2}
2024-12-26 13:13:17,268 INFO sqlalchemy.engine.Engine INSERT INTO orders (order_id, product_id, quantity) VALUES (%(order_id)s, %(product_id)s, %(quantity)s)
2024-12-26 13:13:17,270 INFO sqlalchemy.engine.Engine [cached since 0.008625s ago] {'order_id': 2, 'product_id': 2, 'quantity': 5}
2024-12-26 13:13:17,272 INFO sqlalchemy.engine.Engine INSERT INTO orders (order_id, product_id, quantity) VALUES (%(order_id)s, %(product_id)s, %(quantity)s)
2024-12-26 13:13:17,273 INFO sqlalchemy.engine.Engine [cached since 0.0121s ago] {'order_id': 3, 'product_id': 3, 'quantity': 1}
2024-12-26 13:13:17,275 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 7: Query all products that have a price greater than 400.

In [14]:
with engine.connect() as connection:
    rows = connection.execute(products_table.select().where(products_table.c.price > 400))
    for row in rows:
        display(row)
    connection.commit()

2024-12-26 13:17:08,324 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:17:08,327 INFO sqlalchemy.engine.Engine SELECT products.product_id, products.name, products.price
FROM products
WHERE products.price > %(price_1)s
2024-12-26 13:17:08,329 INFO sqlalchemy.engine.Engine [cached since 218.6s ago] {'price_1': 400}

(1, 'Laptop', 1000.0)

(2, 'Smartphone', 500.0)

2024-12-26 13:17:08,337 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 8: Find all orders where the quantity is greater than 1 and fetch the corresponding product names.

In [15]:
from sqlalchemy.sql import select
# alternative 1
with engine.connect() as connection:
    stmt = (
    
        # SELECT   orders.order_id,   products.name,   orders.quantity FROM ORDER
        select(orders_table.c.order_id, products_table.c.name, orders_table.c.quantity)
        #  JOIN  products  ON  orders.product_id = products.product_id
        .join_from(orders_table, products_table, orders_table.c.product_id == products_table.c.product_id)
        # WHERE  orders.quantity > 1;
        .where(orders_table.c.quantity > 1)
    )
    
    rows = connection.execute(stmt)
    for row in rows:
        display(row)
        
# alternative 2
with engine.connect() as connection:
    query = text(""" 
    SELECT 
        orders.order_id, 
        products.name, 
        orders.quantity
    FROM 
        orders
    JOIN 
        products 
    ON 
        orders.product_id = products.product_id
    WHERE 
        orders.quantity > 1;
    """)
    rows = connection.execute(query)
    
    for row in rows:
        display(row)

2024-12-26 13:20:21,356 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:20:21,357 INFO sqlalchemy.engine.Engine SELECT orders.order_id, products.name, orders.quantity
FROM orders INNER JOIN products ON orders.product_id = products.product_id
WHERE orders.quantity > %(quantity_1)s
2024-12-26 13:20:21,358 INFO sqlalchemy.engine.Engine [generated in 0.00252s] {'quantity_1': 1}

(1, 'Laptop', 2)

(2, 'Smartphone', 5)

2024-12-26 13:20:21,365 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-26 13:20:21,368 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:20:21,369 INFO sqlalchemy.engine.Engine
    SELECT
        orders.order_id,
        products.name,
        orders.quantity
    FROM
        orders
    JOIN
        products
    ON
        orders.product_id = products.product_id
    WHERE
        orders.quantity > 1;

2024-12-26 13:20:21,370 INFO sqlalchemy.engine.Engine [generated in 0.00213s] {}

(1, 'Laptop', 2)

(2, 'Smartphone', 5)

2024-12-26 13:20:21,376 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 9: Update the price of the product with `product_id=2` to `550.00`.

In [16]:
with engine.connect() as connection: 
    connection.execute(
        #  UPDATE products
        products_table.update()
        # WHERE  product_id = 2;
        .where(products_table.c.product_id == 2)
        # SET price = 550.00
        .values(price=550.00))
    connection.commit()

2024-12-26 13:20:47,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:20:47,218 INFO sqlalchemy.engine.Engine UPDATE products SET price=%(price)s WHERE products.product_id = %(product_id_1)s
2024-12-26 13:20:47,219 INFO sqlalchemy.engine.Engine [generated in 0.00393s] {'price': 550.0, 'product_id_1': 2}
2024-12-26 13:20:47,224 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 10: Delete orders where the quantity is less than 2.

In [17]:
with engine.connect() as connection:
    connection.execute(orders_table.delete().where(orders_table.c.quantity < 2))
    connection.commit()

2024-12-26 13:20:52,679 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:20:52,680 INFO sqlalchemy.engine.Engine DELETE FROM orders WHERE orders.quantity < %(quantity_1)s
2024-12-26 13:20:52,681 INFO sqlalchemy.engine.Engine [generated in 0.00278s] {'quantity_1': 2}
2024-12-26 13:20:52,686 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 11: Execute a raw SQL query to fetch all rows from the `products` table.

In [18]:
from sqlalchemy.sql import select
with engine.connect() as connection: 
    rows = connection.execute(select(products_table)) # SELECT * FROM products
    # rows = connection.execute(text("SELECT * FROM products"))
    for row in rows:
        display(row)

2024-12-26 13:20:57,302 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:20:57,304 INFO sqlalchemy.engine.Engine SELECT products.product_id, products.name, products.price
FROM products
2024-12-26 13:20:57,304 INFO sqlalchemy.engine.Engine [generated in 0.00217s] {}

(1, 'Laptop', 1000.0)

(2, 'Smartphone', 550.0)

(3, 'Tablet', 300.0)

2024-12-26 13:20:57,313 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 12: Execute a raw SQL query to calculate the total quantity of all orders.

In [19]:
from sqlalchemy.sql import select, func
with engine.connect() as connection:
    rows = connection.execute(select(func.sum(orders_table.c.quantity))) # SELECT SUM(quantity) FROM orders
    # rows = connection.execute(text("SELECT SUM(quantity) FROM orders"))
    for rows in row:
        display(row)

2024-12-26 13:21:07,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:21:07,619 INFO sqlalchemy.engine.Engine SELECT sum(orders.quantity) AS sum_1
FROM orders
2024-12-26 13:21:07,620 INFO sqlalchemy.engine.Engine [generated in 0.00425s] {}

(3, 'Tablet', 300.0)

(3, 'Tablet', 300.0)

(3, 'Tablet', 300.0)

2024-12-26 13:21:07,637 INFO sqlalchemy.engine.Engine ROLLBACK