### Exercise 1: Import the required modules for working with SQLAlchemy and  Create a MySQL database connection using SQLAlchem?

In [1]:
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, ForeignKey, MetaData
from sqlalchemy.sql import text 
from sqlalchemy.orm import sessionmaker, declarative_base, relationship

DATABASE_URL = 'mysql+pymysql://root:root@127.0.0.1:3306/exercise_2_2'

engine = create_engine(DATABASE_URL, echo=True)

Base = declarative_base()

session_local = sessionmaker(bind=engine)

## Exercise 2: Create a Class-Based Model

1. Create a `BookSample` class that inherits from `Base`.
2. Define the following fields:

| Field Name | Data Type | Constraints       | Description         |
|------------|-----------|-------------------|---------------------|
| `id`       | Integer   | Primary Key       | Unique identifier   |
| `title`    | String    | Not nullable      | Title of the book   |
| `author`   | String    | Not nullable      | Author of the book  |
| `price`    | Float     | None              | Price of the book   |

3. Use `__tablename__` to set the table name as "books".
4. Write code to create the database table for this model.

In [2]:
 
class BookSample(Base):
    __tablename__ = "book"
    
    id = Column(Integer, primary_key=True)
    title = Column(String(100), nullable=False)
    author = Column(String(100), nullable=False)
    price = Column(Float)
    
Base.metadata.create_all(engine)

2024-12-26 13:22:06,549 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-12-26 13:22:06,550 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:06,553 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-12-26 13:22:06,554 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:06,556 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-12-26 13:22:06,557 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:06,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:22:06,560 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_2`.`book`
2024-12-26 13:22:06,561 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:06,571 INFO sqlalchemy.engine.Engine
CREATE TABLE book (
	id INTEGER NOT NULL AUTO_INCREMENT,
	title VARCHAR(100) NOT NULL,
	author VARCHAR(100) NOT NULL,
	price FLOAT,
	PRIMARY KEY (id)
)


2024-12-26 13:22:06,572 INFO sqlalchemy.engine.Engine [no key 0.00079s] {}
2024-12-26 13:22:06,611 INFO sqlalchemy.engine.Engine COMMIT

## Exercise 3: Add a Relationship Between Models

1. Create a `Library` class with the following fields:

| Field Name | Data Type | Constraints       | Description               |
|------------|-----------|-------------------|---------------------------|
| `id`       | Integer   | Primary Key       | Unique identifier         |
| `name`     | String    | Not nullable      | Name of the library       |
| `location` | String    | Not nullable      | Location of the library   |

2. Add a one-to-many relationship between `Library` and `Book`.

| Relationship | Description                |
|--------------|----------------------------|
| `Library`    | A library can have many books. |
| `Book`       | A book belongs to one library. |

   - Use the `relationship` function to define this link.

3. Write code to create both tables in the database.

In [3]:
class Library(Base):
    __tablename__ = "libraries"
    
    id = Column(Integer, primary_key=True)
    name = Column(String(100), nullable=False)
    location = Column(String(100), nullable=False)
    books =  relationship("Book", backref="library") 
    
class Book(Base):
    __tablename__ = "books"
    
    id = Column(Integer, primary_key=True)
    title = Column(String(100), nullable=False)
    author = Column(String(100), nullable=False)
    price = Column(Float)
    library_id = Column(Integer, ForeignKey('libraries.id'))
    
Base.metadata.create_all(bind=engine)

2024-12-26 13:22:22,263 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:22:22,264 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_2`.`book`
2024-12-26 13:22:22,265 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:22,272 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_2`.`libraries`
2024-12-26 13:22:22,273 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:22,275 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_2`.`books`
2024-12-26 13:22:22,275 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-26 13:22:22,278 INFO sqlalchemy.engine.Engine
CREATE TABLE libraries (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	location VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)


2024-12-26 13:22:22,279 INFO sqlalchemy.engine.Engine [no key 0.00077s] {}
2024-12-26 13:22:22,313 INFO sqlalchemy.engine.Engine
CREATE TABLE books (
	id INTEGER NOT NULL AUTO_INCREMENT,
	title VARCHAR(100) NOT NULL,
	author VARCHAR(100) NOT NULL,
	price FLOAT,
	library_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(library_id) REFERENCES libraries (id)
)


2024-12-26 13:22:22,314 INFO sqlalchemy.engine.Engine [no key 0.00066s] {}
2024-12-26 13:22:22,364 INFO sqlalchemy.engine.Engine COMMIT

## Exercise 4: Insert Data Into Tables

1. Insert the following libraries into the database:

| Library ID | Name             | Location     |
|------------|------------------|--------------|
| 1          | Central Library  | Downtown     |
| 2          | East Side Library| East End     |

2. Insert the following books into the database:

| Book ID | Title                      | Author               | Price  | Library Name      |
|---------|----------------------------|----------------------|--------|-------------------|
| 1       | The Great Gatsby           | F. Scott Fitzgerald  | 10.99  | Central Library   |
| 2       | 1984                       | George Orwell        | 8.99   | East Side Library |
| 3       | To Kill a Mockingbird      | Harper Lee           | 12.99  | Central Library   |

In [4]:
session = session_local() 

new_library_1 = Library(name="Kehase", location="Muenchen")
new_library_2 = Library(name="Grande", location="London")
new_library_3 = Library(name="Adam", location="Frankfurt")

book1 = Book(title="Book A", author="Awet", price =1000000.99, library=new_library_1)
book2 = Book(title="Book B", author="Mhretab", price=35.5, library=new_library_1)
book3 = Book(title="Book C", author="Awet", price=35.5, library=new_library_2)
book4 = Book(title="Book D", author="Aman", price=40.5, library=new_library_1)
book5 = Book(title="Book E", author="Yonas", price=37.5, library=new_library_3)
book6 = Book(title="Book F", author="Berekhet", price=33.5, library=new_library_1)
book7 = Book(title="Book G", author="Timo", price=55.5, library=new_library_3)
book8 = Book(title="Book H", author="Mhretab", price=65.5, library=new_library_1)

session.add(new_library_1)
session.add(new_library_2)
session.add(new_library_3)

session.add(book1)
session.add(book2)
session.add(book3)
session.add(book4)
session.add(book5)
session.add(book6)
session.add(book7)
session.add(book8)

session.commit()

2024-12-26 13:22:35,044 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:22:35,047 INFO sqlalchemy.engine.Engine INSERT INTO libraries (name, location) VALUES (%(name)s, %(location)s)
2024-12-26 13:22:35,048 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {'name': 'Kehase', 'location': 'Muenchen'}
2024-12-26 13:22:35,051 INFO sqlalchemy.engine.Engine INSERT INTO libraries (name, location) VALUES (%(name)s, %(location)s)
2024-12-26 13:22:35,052 INFO sqlalchemy.engine.Engine [cached since 0.005496s ago] {'name': 'Grande', 'location': 'London'}
2024-12-26 13:22:35,055 INFO sqlalchemy.engine.Engine INSERT INTO libraries (name, location) VALUES (%(name)s, %(location)s)
2024-12-26 13:22:35,056 INFO sqlalchemy.engine.Engine [cached since 0.008958s ago] {'name': 'Adam', 'location': 'Frankfurt'}
2024-12-26 13:22:35,060 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,061 INFO sqlalchemy.engine.Engine [generated in 0.00116s] {'title': 'Book A', 'author': 'Awet', 'price': 1000000.99, 'library_id': 1}
2024-12-26 13:22:35,064 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,065 INFO sqlalchemy.engine.Engine [cached since 0.005829s ago] {'title': 'Book B', 'author': 'Mhretab', 'price': 35.5, 'library_id': 1}
2024-12-26 13:22:35,068 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,069 INFO sqlalchemy.engine.Engine [cached since 0.009508s ago] {'title': 'Book D', 'author': 'Aman', 'price': 40.5, 'library_id': 1}
2024-12-26 13:22:35,071 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,072 INFO sqlalchemy.engine.Engine [cached since 0.01287s ago] {'title': 'Book F', 'author': 'Berekhet', 'price': 33.5, 'library_id': 1}
2024-12-26 13:22:35,075 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,076 INFO sqlalchemy.engine.Engine [cached since 0.01638s ago] {'title': 'Book H', 'author': 'Mhretab', 'price': 65.5, 'library_id': 1}
2024-12-26 13:22:35,078 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,079 INFO sqlalchemy.engine.Engine [cached since 0.02004s ago] {'title': 'Book C', 'author': 'Awet', 'price': 35.5, 'library_id': 2}
2024-12-26 13:22:35,082 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,083 INFO sqlalchemy.engine.Engine [cached since 0.02357s ago] {'title': 'Book E', 'author': 'Yonas', 'price': 37.5, 'library_id': 3}
2024-12-26 13:22:35,085 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, price, library_id) VALUES (%(title)s, %(author)s, %(price)s, %(library_id)s)
2024-12-26 13:22:35,086 INFO sqlalchemy.engine.Engine [cached since 0.02693s ago] {'title': 'Book G', 'author': 'Timo', 'price': 55.5, 'library_id': 3}
2024-12-26 13:22:35,089 INFO sqlalchemy.engine.Engine COMMIT


## Exercise 5: Query the Database
1. Write a query to fetch all books and display their title, author, price, and the library name.
2. Write a query to fetch all libraries and display their name and the number of books they have.

In [5]:
from sqlalchemy import select, join

session = session_local()

""" 
SELECT
    b.title, b.author, b.price, l.name  as library_name
FROM books as b
JOIN
    Library l
ON
    b.library_id = l.id

"""
# alternative 1
book_with_library = session.query(Book.title, Book.author, Book.price, Library.name.label("library_name")).join(Library, Book.library_id == Library.id).all()

for book in book_with_library:
    display(f"Title: {book.title}, Author: {book.author}, Price: {book.price}, Library: {book.library_name}")
    
# alternative 2
book_with_library = session.execute(select(Book.title, Book.author, Book.price, Library.name.label("library_name")).join(Library, Book.library_id == Library.id)).all()


for book in book_with_library:
    display(f"Title: {book.title}, Author: {book.author}, Price: {book.price}, Library: {book.library_name}")
    
    
# alternative 3
book_with_library =  session.execute(select(Book.title, Book.author, Book.price, Library.name.label("library_name")).select_from(
    join(Book, Library, Book.library_id == Library.id)
)).all()

for book in book_with_library:
    display(f"Title: {book.title}, Author: {book.author}, Price: {book.price}, Library: {book.library_name}")
    
# alternative 4
""" 
SELECT                          
    title, author, price, (SELECT name FROM libraries WHERE id = library_id)  as library_name
FROM books 

"""
library_subquery = select(Library.id, Library.name.label("library_name")).subquery()
book_with_library = session.execute(
    select(
        Book.title, 
        Book.author, 
        Book.price, 
        library_subquery.c.library_name
    ).join(library_subquery, Book.library_id == library_subquery.c.id)
).all()

for book in book_with_library:
    display(f"Title: {book.title}, Author: {book.author}, Price: {book.price}, Library: {book.library_name}")


# alternative 5
query = """
    SELECT 
        b.title, b.author, b.price, l.name AS library_name
    FROM books b
    JOIN 
        libraries l 
    ON 
        b.library_id = l.id
"""
book_with_library = session.execute(text(query)).fetchall()

for book in book_with_library:
    display(f"Title: {book.title}, Author: {book.author}, Price: {book.price}, Library: {book.library_name}")


session.close()

2024-12-26 13:22:50,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:22:50,381 INFO sqlalchemy.engine.Engine SELECT books.title AS books_title, books.author AS books_author, books.price AS books_price, libraries.name AS library_name
FROM books INNER JOIN libraries ON books.library_id = libraries.id
2024-12-26 13:22:50,382 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {}

'Title: Book A, Author: Awet, Price: 1000000.0, Library: Kehase'

'Title: Book B, Author: Mhretab, Price: 35.5, Library: Kehase'

'Title: Book D, Author: Aman, Price: 40.5, Library: Kehase'

'Title: Book F, Author: Berekhet, Price: 33.5, Library: Kehase'

'Title: Book H, Author: Mhretab, Price: 65.5, Library: Kehase'

'Title: Book C, Author: Awet, Price: 35.5, Library: Grande'

'Title: Book E, Author: Yonas, Price: 37.5, Library: Adam'

'Title: Book G, Author: Timo, Price: 55.5, Library: Adam'

2024-12-26 13:22:50,403 INFO sqlalchemy.engine.Engine SELECT books.title, books.author, books.price, libraries.name AS library_name
FROM books INNER JOIN libraries ON books.library_id = libraries.id
2024-12-26 13:22:50,405 INFO sqlalchemy.engine.Engine [generated in 0.00140s] {}

'Title: Book A, Author: Awet, Price: 1000000.0, Library: Kehase'

'Title: Book B, Author: Mhretab, Price: 35.5, Library: Kehase'

'Title: Book D, Author: Aman, Price: 40.5, Library: Kehase'

'Title: Book F, Author: Berekhet, Price: 33.5, Library: Kehase'

'Title: Book H, Author: Mhretab, Price: 65.5, Library: Kehase'

'Title: Book C, Author: Awet, Price: 35.5, Library: Grande'

'Title: Book E, Author: Yonas, Price: 37.5, Library: Adam'

'Title: Book G, Author: Timo, Price: 55.5, Library: Adam'

2024-12-26 13:22:50,424 INFO sqlalchemy.engine.Engine SELECT books.title, books.author, books.price, libraries.name AS library_name
FROM books INNER JOIN libraries ON books.library_id = libraries.id
2024-12-26 13:22:50,424 INFO sqlalchemy.engine.Engine [generated in 0.00085s] {}

'Title: Book A, Author: Awet, Price: 1000000.0, Library: Kehase'

'Title: Book B, Author: Mhretab, Price: 35.5, Library: Kehase'

'Title: Book D, Author: Aman, Price: 40.5, Library: Kehase'

'Title: Book F, Author: Berekhet, Price: 33.5, Library: Kehase'

'Title: Book H, Author: Mhretab, Price: 65.5, Library: Kehase'

'Title: Book C, Author: Awet, Price: 35.5, Library: Grande'

'Title: Book E, Author: Yonas, Price: 37.5, Library: Adam'

'Title: Book G, Author: Timo, Price: 55.5, Library: Adam'

2024-12-26 13:22:50,444 INFO sqlalchemy.engine.Engine SELECT books.title, books.author, books.price, anon_1.library_name
FROM books INNER JOIN (SELECT libraries.id AS id, libraries.name AS library_name
FROM libraries) AS anon_1 ON books.library_id = anon_1.id
2024-12-26 13:22:50,446 INFO sqlalchemy.engine.Engine [generated in 0.00148s] {}

'Title: Book A, Author: Awet, Price: 1000000.0, Library: Kehase'

'Title: Book B, Author: Mhretab, Price: 35.5, Library: Kehase'

'Title: Book D, Author: Aman, Price: 40.5, Library: Kehase'

'Title: Book F, Author: Berekhet, Price: 33.5, Library: Kehase'

'Title: Book H, Author: Mhretab, Price: 65.5, Library: Kehase'

'Title: Book C, Author: Awet, Price: 35.5, Library: Grande'

'Title: Book E, Author: Yonas, Price: 37.5, Library: Adam'

'Title: Book G, Author: Timo, Price: 55.5, Library: Adam'

2024-12-26 13:22:50,465 INFO sqlalchemy.engine.Engine
    SELECT
        b.title, b.author, b.price, l.name AS library_name
    FROM books b
    JOIN
        libraries l
    ON
        b.library_id = l.id

2024-12-26 13:22:50,466 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {}

'Title: Book A, Author: Awet, Price: 1000000.0, Library: Kehase'

'Title: Book B, Author: Mhretab, Price: 35.5, Library: Kehase'

'Title: Book D, Author: Aman, Price: 40.5, Library: Kehase'

'Title: Book F, Author: Berekhet, Price: 33.5, Library: Kehase'

'Title: Book H, Author: Mhretab, Price: 65.5, Library: Kehase'

'Title: Book C, Author: Awet, Price: 35.5, Library: Grande'

'Title: Book E, Author: Yonas, Price: 37.5, Library: Adam'

'Title: Book G, Author: Timo, Price: 55.5, Library: Adam'

2024-12-26 13:22:50,481 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
from sqlalchemy.sql import func

session = session_local()

""" 
SELECT 
    l.name,
    count(b.id) as book_count
FROM Libraries as l
OUTER JOIN
    books as b
ON
    l.id = b.library_id
    
GROUP BY
    l.id

"""
library_with_book_count = (
    session.query(Library.name, func.count(Book.id).label("book_count"))
            .join(Book, Library.id == Book.library_id, isouter=True)
            .group_by(Library.id)
            .all()
)

for library in library_with_book_count:
    display(f"Library: {library.name}, Number of Books: {library.book_count}")
    
session.close()

2024-12-26 13:23:09,075 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:09,082 INFO sqlalchemy.engine.Engine SELECT libraries.name AS libraries_name, count(books.id) AS book_count
FROM libraries LEFT OUTER JOIN books ON libraries.id = books.library_id GROUP BY libraries.id
2024-12-26 13:23:09,083 INFO sqlalchemy.engine.Engine [generated in 0.00140s] {}

'Library: Kehase, Number of Books: 5'

'Library: Grande, Number of Books: 1'

'Library: Adam, Number of Books: 2'

2024-12-26 13:23:09,094 INFO sqlalchemy.engine.Engine ROLLBACK


## Exercise 6: Complex Query - Filtering and Aggregations

1. Write a query to fetch all libraries with more than one book.
2. Write a query to find the library with the highest total value of books.
3. Write a query to calculate the average price of books in each library.

In [7]:
from sqlalchemy.sql import func

session = session_local()

""" 
SELECT 
    l.name, count(b.id) as book_count
FROM 
    Libraries as l
JOIN 
    Books
ON
    l.id = b.library_id
GROUP BY
    l.id
HAVING
    book_count > 1
"""

libraries_with_multiple_books = (
    session.query(Library.name, func.count(Book.id).label('book_count'))
            .join(Book, Library.id == Book.library_id)
            .group_by(Library.id)
            .having(func.count(Book.id) > 1)
            .all()
)

for library in libraries_with_multiple_books:
    display(f"Library: {library.name}, Number of Books: {library.book_count}")
    
session.close()

2024-12-26 13:23:16,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:16,921 INFO sqlalchemy.engine.Engine SELECT libraries.name AS libraries_name, count(books.id) AS book_count
FROM libraries INNER JOIN books ON libraries.id = books.library_id GROUP BY libraries.id
HAVING count(books.id) > %(count_1)s
2024-12-26 13:23:16,923 INFO sqlalchemy.engine.Engine [generated in 0.00150s] {'count_1': 1}

'Library: Kehase, Number of Books: 5'

'Library: Adam, Number of Books: 2'

2024-12-26 13:23:16,930 INFO sqlalchemy.engine.Engine ROLLBACK

In [8]:
from sqlalchemy.sql import func 

session = session_local()
""" 
SELECT 
    l.name, sum(b.price) as "total_value"
FROM 
    Libraries as l
JOIN 
    Books as b 
    
ON 
    l.id = b.library_id
    
GRAPY BY
    total_value desc

LIMIT 1

"""
library_with_highest_value = (
    session.query(Library.name, func.sum(Book.price).label("total_value"))
           .join(Book, Library.id == Book.library_id)
           .group_by(Library.id)
           .order_by(func.sum(Book.price).desc())
           .first() 
)

if libraries_with_multiple_books:
    display(f"Library: {library_with_highest_value.name}, Total Value: {library_with_highest_value.total_value}")

session.close()

2024-12-26 13:23:22,878 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:22,882 INFO sqlalchemy.engine.Engine SELECT libraries.name AS libraries_name, sum(books.price) AS total_value
FROM libraries INNER JOIN books ON libraries.id = books.library_id GROUP BY libraries.id ORDER BY sum(books.price) DESC
 LIMIT %(param_1)s
2024-12-26 13:23:22,883 INFO sqlalchemy.engine.Engine [generated in 0.00155s] {'param_1': 1}

'Library: Kehase, Total Value: 1000176.0'

2024-12-26 13:23:22,891 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
from sqlalchemy.sql import func

session = session_local()

""" 
SELECT
    l.name, avg(b.price) as average_price
FROM Libraries
JOIN
    Books as b
ON 
    l.id = b.library_id

GROUP BY
    l.id 

"""

average_price_per_library = (
    
    session.query(Library.name , func.avg(Book.price).label("average_price"))
           .join(Book, Library.id == Book.library_id)
           .group_by(Library.id)
           .all()
    
)
 
for library in  average_price_per_library:
    display(f"Library: {library.name}, Average Book Price: {library.average_price}")
    
session.close()

2024-12-26 13:23:29,428 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:29,433 INFO sqlalchemy.engine.Engine SELECT libraries.name AS libraries_name, avg(books.price) AS average_price
FROM libraries INNER JOIN books ON libraries.id = books.library_id GROUP BY libraries.id
2024-12-26 13:23:29,434 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {}

'Library: Kehase, Average Book Price: 200035.2'

'Library: Grande, Average Book Price: 35.5'

'Library: Adam, Average Book Price: 46.5'

2024-12-26 13:23:29,445 INFO sqlalchemy.engine.Engine ROLLBACK


## Exercise 7: Updating and Deleting Records

1. Write code to update the price of all books authored by "Awet" to $9.99.
2. Write code to delete all books in a library named "Adam".
3. Write code to delete a library if it has no books.

In [10]:
session = session_local()

session.query(Book).filter(Book.author == "Awet").update(
    {Book.price: 9.99}, synchronize_session=False
)

session.commit()

session.close()

2024-12-26 13:23:38,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:38,510 INFO sqlalchemy.engine.Engine UPDATE books SET price=%(price)s WHERE books.author = %(author_1)s
2024-12-26 13:23:38,511 INFO sqlalchemy.engine.Engine [generated in 0.00117s] {'price': 9.99, 'author_1': 'Awet'}
2024-12-26 13:23:38,514 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
""" 
"BOOK A" => "Adam" **
"BOOK A" => "Grande"
"BOOK A" => "Ama"

"""
session = session_local()

"""
SELECT name FROM libraries WHERE name = "Adam" LIMIT 1
"""
library = session.query(Library).filter(Library.name == "Adam").first()

if library:
    session.query(Book).filter(Book.library_id == library.id).delete(synchronize_session=False)
    session.commit()
    
session.close()

2024-12-26 13:23:46,868 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:46,871 INFO sqlalchemy.engine.Engine SELECT libraries.id AS libraries_id, libraries.name AS libraries_name, libraries.location AS libraries_location
FROM libraries
WHERE libraries.name = %(name_1)s
 LIMIT %(param_1)s
2024-12-26 13:23:46,872 INFO sqlalchemy.engine.Engine [generated in 0.00190s] {'name_1': 'Adam', 'param_1': 1}
2024-12-26 13:23:46,880 INFO sqlalchemy.engine.Engine DELETE FROM books WHERE books.library_id = %(library_id_1)s
2024-12-26 13:23:46,881 INFO sqlalchemy.engine.Engine [generated in 0.00151s] {'library_id_1': 3}
2024-12-26 13:23:46,884 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
from sqlalchemy.sql import func
session = session_local()


""" 
SELECT 
    l.id , count(b.id) as "book_count"
FROM  Libraries
OUTER JOIN
    Books as b
ON 
   l.id = b.library_id 
having 
    book_count = 0
"""
library_with_no_boos = (
    session.query(Library)
            .outerjoin(Book, Library.id == Book.library_id)
            .group_by(Library.id)
            .having(func.count(Book.id) == 0)
            .all()
)

for library in library_with_no_boos:
    session.delete(library)
    
session.commit()

session.close()

2024-12-26 13:23:51,513 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:51,516 INFO sqlalchemy.engine.Engine SELECT libraries.id AS libraries_id, libraries.name AS libraries_name, libraries.location AS libraries_location
FROM libraries LEFT OUTER JOIN books ON libraries.id = books.library_id GROUP BY libraries.id
HAVING count(books.id) = %(count_1)s
2024-12-26 13:23:51,517 INFO sqlalchemy.engine.Engine [generated in 0.00159s] {'count_1': 0}
2024-12-26 13:23:51,524 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.price AS books_price, books.library_id AS books_library_id
FROM books
WHERE %(param_1)s = books.library_id
2024-12-26 13:23:51,525 INFO sqlalchemy.engine.Engine [generated in 0.00105s] {'param_1': 3}
2024-12-26 13:23:51,530 INFO sqlalchemy.engine.Engine DELETE FROM libraries WHERE libraries.id = %(id)s
2024-12-26 13:23:51,531 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {'id': 3}
2024-12-26 13:23:51,533 INFO sqlalchemy.engine.Engine COMMIT


## Exercise 8: Subqueries and Nested Queries

1. Write a query to find the libraries that have books priced higher than the average price of all books.
2. Write a query to list all books along with a flag indicating whether their price is above or below the average price of all books.
3. Write a query to find the most expensive book in each library.

In [13]:
from sqlalchemy.sql import func 

session = session_local()

average_price_of_books = session.query(func.avg(Book.price)).scalar()
""" 
average_price_of_books = (SELECT avg(price) FROM Books);

SELECT 
  DISTINCT l.id 
FROM Libraries as l
JOIN 
    Books as b
ON 
    l.id = b.library_id 
    
WHERE
    b.price > average_price_of_books

"""
libraries_with_exp_books = (
    session.query(Library.name)
           .join(Book, Library.id == Book.library_id)
           .filter(Book.price > average_price_of_books)
           .distinct()
           .all()
)

for library in libraries_with_exp_books:
    display(f"Library: {library.name}")
    
session.close()

2024-12-26 13:23:58,239 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:23:58,242 INFO sqlalchemy.engine.Engine SELECT avg(books.price) AS avg_1
FROM books
2024-12-26 13:23:58,243 INFO sqlalchemy.engine.Engine [generated in 0.00144s] {}
2024-12-26 13:23:58,247 INFO sqlalchemy.engine.Engine SELECT DISTINCT libraries.name AS libraries_name
FROM libraries INNER JOIN books ON libraries.id = books.library_id
WHERE books.price > %(price_1)s
2024-12-26 13:23:58,248 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {'price_1': 32.49666659037272}

'Library: Kehase'

2024-12-26 13:23:58,256 INFO sqlalchemy.engine.Engine ROLLBACK

In [14]:
from sqlalchemy import case
from sqlalchemy.sql import func

session = session_local()


average_price = session.query(func.avg(Book.price)).scalar() 

""" 
--- alternative 1
WITH average_price_cte AS (
    SELECT AVG(price) as average_price FROM BOOKS
)
SELECT  
    b.title,
    b.price
CASE
    WHEN  
        b.price  > ( SELECT average_price FROM  average_price_cte) THEN  'Above Average'
        ELSE 'Below average'
    END AS price flag
FROM book b;

--- alternative 2

SELECT  
    b.title,
    b.price
    (b.price > (SELECT AVG(price) FROM books)) as is_above_average
    FROM book b;
""" 
 
books_with_price_flag = (
    session.query(
        Book.title,
        Book.price,
        (Book.price > average_price).label("is_above_average")
    )
    .all()
)

for book in books_with_price_flag:
    flag = "Above Average" if book.is_above_average else "Below average"
    display(f"Title: {book.title}, Price: {Book.title} ")

session.close()

2024-12-26 13:24:02,970 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:24:02,972 INFO sqlalchemy.engine.Engine SELECT avg(books.price) AS avg_1
FROM books
2024-12-26 13:24:02,973 INFO sqlalchemy.engine.Engine [cached since 4.731s ago] {}
2024-12-26 13:24:02,977 INFO sqlalchemy.engine.Engine SELECT books.title AS books_title, books.price AS books_price, books.price > %(price_1)s AS is_above_average
FROM books
2024-12-26 13:24:02,979 INFO sqlalchemy.engine.Engine [generated in 0.00168s] {'price_1': 32.49666659037272}

'Title: Book A, Price: Book.title '

'Title: Book B, Price: Book.title '

'Title: Book D, Price: Book.title '

'Title: Book F, Price: Book.title '

'Title: Book H, Price: Book.title '

'Title: Book C, Price: Book.title '

2024-12-26 13:24:02,993 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
from sqlalchemy.sql import func 

session = session_local()

""" 
WITH library_max_prices AS (
    SELECT 
        library_id,
        MAX(price) AS max_price
    FROM book
    GROUP BY library_id
)
SELECT 
    l.name AS library_name,
    b.title AS book_title,
    lmp.max_price
FROM library l
JOIN library_max_prices lmp ON l.id = lmp.library_id
JOIN book b ON b.library_id = lmp.library_id AND b.price = lmp.max_price;
""" 

# Subquery to find the maximum price in each library
subquery = (
    session.query(
        Book.library_id,
        func.max(Book.price).label("max_price")
    )
    .group_by(Book.library_id)
    .subquery()
)

# Query to join with the subquery to get the book details
most_expensive_books = (
    session.query(
        Library.name.label("library_name"),
        Book.title.label("book_title"),
        subquery.c.max_price
    )
    .join(subquery, Library.id == subquery.c.library_id)
    .join(Book, (Book.library_id == subquery.c.library_id) & (Book.price == subquery.c.max_price))
    .all()
)

# Display results
for result in most_expensive_books:
    print(f"Library: {result.library_name}, Book: {result.book_title}, Price: {result.max_price}")

session.close()

2024-12-26 13:24:09,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:24:09,584 INFO sqlalchemy.engine.Engine SELECT libraries.name AS library_name, books.title AS book_title, anon_1.max_price AS anon_1_max_price
FROM libraries INNER JOIN (SELECT books.library_id AS library_id, max(books.price) AS max_price
FROM books GROUP BY books.library_id) AS anon_1 ON libraries.id = anon_1.library_id INNER JOIN books ON books.library_id = anon_1.library_id AND books.price = anon_1.max_price
2024-12-26 13:24:09,585 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
Library: Kehase, Book: Book H, Price: 65.5
Library: Grande, Book: Book C, Price: 9.99
2024-12-26 13:24:09,591 INFO sqlalchemy.engine.Engine ROLLBACK


## Exercise 9: Advanced Relationships

1. Write a query to list all libraries with their books and their total value.
2. Write a query to fetch libraries that do not have any books.
3. Write a query to find authors who have written books in more than one library.

In [16]:
from sqlalchemy.sql import func

session = session_local() 

libraries_with_books_and_total_value = (
    session.query(
        Library.name.label("library_name"),
        Book.title.label("book_title"),
        func.sum(Book.price).over(partition_by=Library.id).label("total_value")
    )
    .join(Book, Library.id == Book.library_id)
    .all()
)

for record in libraries_with_books_and_total_value:
    print(f"Library: {record.library_name}, Book: {record.book_title}, Total Value: {record.total_value}")

session.close()

2024-12-26 13:24:16,453 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:24:16,457 INFO sqlalchemy.engine.Engine SELECT libraries.name AS library_name, books.title AS book_title, sum(books.price) OVER (PARTITION BY libraries.id) AS total_value
FROM libraries INNER JOIN books ON libraries.id = books.library_id
2024-12-26 13:24:16,459 INFO sqlalchemy.engine.Engine [generated in 0.00224s] {}
Library: Kehase, Book: Book H, Total Value: 184.98999977111816
Library: Kehase, Book: Book F, Total Value: 184.98999977111816
Library: Kehase, Book: Book D, Total Value: 184.98999977111816
Library: Kehase, Book: Book B, Total Value: 184.98999977111816
Library: Kehase, Book: Book A, Total Value: 184.98999977111816
Library: Grande, Book: Book C, Total Value: 9.989999771118164
2024-12-26 13:24:16,468 INFO sqlalchemy.engine.Engine ROLLBACK

In [17]:
from sqlalchemy.sql import func

session = session_local() 

libraries_without_books = (
    session.query(Library.name)
    .outerjoin(Book, Library.id == Book.library_id)  # Correct outerjoin syntax
    .group_by(Library.id)
    .having(func.count(Book.id) == 0)  # Filter for libraries with no books
    .all()
)

for library in libraries_without_books:
    print(f"Library with no books: {library.name}")

session.close()

2024-12-26 13:24:21,495 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:24:21,499 INFO sqlalchemy.engine.Engine SELECT libraries.name AS libraries_name
FROM libraries LEFT OUTER JOIN books ON libraries.id = books.library_id GROUP BY libraries.id
HAVING count(books.id) = %(count_1)s
2024-12-26 13:24:21,500 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'count_1': 0}
2024-12-26 13:24:21,502 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
from sqlalchemy.sql import func

session = session_local() 

authors_in_multiple_libraries = (
    session.query(Book.author)
    .distinct()
    .join(Library, Book.library_id == Library.id)
    .group_by(Book.author)
    .having(func.count(Book.library_id.distinct()) > 1)
    .all()
)
for author in authors_in_multiple_libraries:
    print(f"Author in multiple libraries: {author.author}")

session.close()

2024-12-26 13:24:26,210 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-26 13:24:26,213 INFO sqlalchemy.engine.Engine SELECT DISTINCT books.author AS books_author
FROM books INNER JOIN libraries ON books.library_id = libraries.id GROUP BY books.author
HAVING count(DISTINCT books.library_id) > %(count_1)s
2024-12-26 13:24:26,214 INFO sqlalchemy.engine.Engine [generated in 0.00108s] {'count_1': 1}
Author in multiple libraries: Awet
2024-12-26 13:24:26,220 INFO sqlalchemy.engine.Engine ROLLBACK